# --- Google Search API ---
GOOGLE_API_KEY=your_google_api_key
GOOGLE_CSE_ID=your_search_engine_id

# --- Weather API ---
OPENWEATHER_API_KEY=your_openweather_key

# Database PostgreSQL Config
DB_NAME=db_name
DB_USER=user
DB_PASSWORD=your_password
DB_HOST=127.0.0.1
DB_PORT=5432
